<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <!--CSS styling for the entire HTML file (body), and specific CSS classes you can assign-->
    <style>
        body {
          background-image: url(/images/dragonDEEZBALLS.jpg);
          background-repeat: no-repeat;
          background-size:cover;
          font-family:Verdana, Geneva, Tahoma, sans-serif;
        }
        form{
          background-color:rgba(37, 32, 29, 0.868);
          margin: 5rem;
          padding: 3rem;
          width: 45%;
          min-width: min-content;
          display: flex;
          color:white;
          display:flex;
          flex-direction: column;

        }
        #container {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
        }
        .form-group{
          display:flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          flex-direction: row;
          padding-bottom: 1rem;

        }
        button{
          margin-top: 3rem;
          width: 5rem;
        }
       #attributes{
         padding-left: 5rem;
       }
       td{
         text-align: center;
         padding-top: .5rem;
         padding-bottom: .5rem;
         padding-left: .5rem;
         padding-right: .5rem;
       }
       #info{
         min-width: fit-content;
         width:40%;
       }
    </style>
    <script src="generateCharacter.js"></script>
    <meta charset="UTF-8" />
    <title>Interactive DnD Character Sheet</title>
  </head>

  <body>
    <form action="/display" method="POST">
        <h1 class="center">Generate Your Character</h1>
        <br>
        <div id="container">
          <div id="info">
            <h2>Character Info </h2>
            <div class="form-group">
              <label class="form-label" for="exampleFormControlInput1">Name</label>
              <input width="20px"name="charName" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Lipin Jection" required>
            </div>
            <div class="form-group">
              <label class="form-label" for="exampleFormControlSelect1">Race</label>
              <select class="form-control" id="exampleFormControlSelect1" name="raceDrop"required>
                <option value="Human">Human</option>
                <option value="Dwarf">Dwarf</option>
                <option value="Dragonborn">Dragonborn</option>
                <option value="Elf">Elf</option>
                <option value="Half Elf">Half Elf</option>
                <option value="Halfling">Halfling</option>
                <option value="Half-Orc">Half-Orc</option>
                <option value="Tiefling">Tiefling</option>
              </select>
            </div>
            <div class="form-group">
              <label class="form-label"for="exampleFormControlSelect2">Class</label>
              <select class="form-control" id="exampleFormControlSelect2" name="classDrop"required>
                <option value="Barbarian">Barbarian</option>
                <option value="Bard">Bard</option>
                <option value="Cleric">Cleric</option>
                <option value="Druid">Druid</option>
                <option value="Fighter">Fighter</option>
                <option value="Monk">Monk</option>
                <option value="Paladin">Paladin</option>
                <option value="Ranger">Ranger</option>
                <option value="Rogue">Rogue</option>
                <option value="Sorcerer">Sorcerer</option>
                <option value="Warlock">Warlock</option>
                <option value="Wizard">Wizard</option>
                <option value="Dr. Horn">Dr. Horn</option>
              </select>
            </div>
            <div class="form-group">
            <!-- Inputs for Character Name -->
              <label class="form-label" for="level">Level</label>
              <input type="number" name="level" max="20" min="1" required> 
            </div>
            <div class="form-group">
              <label  class="form-label" for="exampleFormControlSelect2">Gender</label>
              <select class="form-control" id="exampleFormControlSelect2" name="genderDrop" required>
                <option value="Female">Female</option>
                <option value="Male">Male</option>
                <option value="Nonbinary">Nonbinary</option>
              </select>
            </div>
            <div class="form-group">
              <label class="form-label" for="exampleFormControlSelect2">Alignment</label>
              <select class="form-control" id="exampleFormControlSelect2" name="alignDrop" required>
                <option value="Lawful Good">Lawful Good</option>
                <option value="Lawful Neutral">Lawful Neutral</option>
                <option value="Lawful Evil">Lawful Evil</option>
                <option value="Neutral Good">Neutral Good</option>
                <option value="True Neutral">True Neutral</option>
                <option value="Neutral Evil">Neutral Evil</option>
                <option value="Chaotic Good">Chaotic Good</option>
                <option value="Chaotic Neutral">Chaotic Neutral</option>
                <option value="Chaotic Evil">Chaotic Evil</option>
              </select>
            </div>
          </div>

          <div id="attributes">
            <h2>Stats</h2>
            <!-- Input boxes for Stats -->
            <table>
              <tr>
                <td><label for="str">STR</label>
                  <input type="number" name="str" max="20" min="1" required />
                </td>
                <td>
                  <label for="dex">DEX</label>
                  <input type="number" name="dex" max="20" min="1" required />
                </td>
              </tr>
              <tr>
                <td><label for="con">CON</label>
                  <input type="number" name="con" max="20" min="1" required />
                </td>
                <td>
                  <label for="int">INT</label>
                  <input type="number" name="int" max="20" min="1" required />
                </td>
              </tr>
              <tr>
                <td>
                  <label for="wis">WIS</label>
                  <input type="number" name="wis" max="20" min="1" required />
                </td>
                <td>
                  <label for="cha">CHA</label>
                  <input type="number" name="cha" max="20" min="1" required />
                </td>
              </tr>
            </table>
          </div>
        </div>
        <button type="submit">Submit</button>
      </form>
  </body>
</html>

